@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rubik+Iso&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */
@layer utilities {
	.clip-left {
		clip-path: polygon(0 0, 100% 0, calc(100% - 70px) 100%, 0 100%);
	}
	.clip-right {
		clip-path: polygon(0 100%, 100% 100%, calc(100% - 70px) 0, 0 0);
	}
	.gradient-text {
		background: linear-gradient(to right, #7a40c3, #fff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
	}
}

body {
	@apply bg-[#030304];
	font-family: "Montserrat";
}

.countdown {
	font-family: "Press Start 2P" !important;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

.clip-diagonal{
  clip-path: polygon(0% 0%, 5% 0%, 100% 55%, 100% 100%, 0% 100%); 
}
.bg-faq{
    background-color: rgba(88, 255, 22, 0.22);
}
.bg-footer{
    background-color: rgba(88, 255, 22, 0.22);
}
.outside {
  position: relative;
  width: 100px;
  height: 50px; 
  clip-path:polygon(0% 0%, 55% 0%, 100% 86%, 100% 100%, 0% 100%);
}
.inside {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 4px;
  bottom: 4px;
  color: #C1A4F1;
  text-align: center;
  clip-path: polygon(0% 0%, 65% 0%, 100% 55%, 100% 100%, 0% 100%);
}